media/*
plex/*
.bash*
.profile*
.ssh*
.vim*
downloads/*
.gitconfig
*.log
.DS_Store
.env

transmission/*
transmission/
transmission/stats.json
flexget/db-config.sqlite
.gitignore
flexget/custom-con*
transmission/settings.json
transmission/stats.json
transmission/dht.dat
flexget/db-config-jobs.sqlite